<!DOCTYPE html>
<html lang="en">
    <style>
        .error{
            color: #f20;
            font-style: italic;
        }
    </style>
<%- include('../partials/adminhead'); -%>
    <body>
        <section id="container">
            <%- include('../partials/adminheader'); -%>
                <%- include('../partials/adminleft'); -%>
                    <!--main content start-->
                    <section id="main-content">
                        <section class="wrapper">
                            <div class="clearfix">
                                <div class="table-agile-info">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            THÊM NHÂN VIÊN
                                        </div>
                                        <form method="POST" action="/admin/nhanvien/createnhanvien" id="formAddProduct">
                                            <label>Tên nhân viên</label>
                                            <input type="text" class="form-control" name="tennv"
                                                placeholder="Tên nhân viên"><br>
                                            <label>Email</label>
                                            <input type="email" class="form-control" name="email">
                                            <br>
                                            <label>Mật khẩu</label>
                                            <input type="password" class="form-control" name="matkhau">
                                            <br>
                                            <label>Số điện thoại</label>
                                            <input type="text" class="form-control" name="sodienthoai">
                                            <br>
                                            <label>Trạng thái</label> <br />
                                            <input name="trangthai" type="radio" value="1" checked="checked">
                                              Hoạt động
                                            <input name="trangthai" type="radio" value="0"> Không hoạt động <br />
                                            <br />
                                      
                                            <label>Quản lý</label>
                                            <select name="id_maloainv" class="form-control">
                                                <option value="">------Chọn loại quản lý-------</option>
                                                <% for(let i=0; i < loaiNvs.length; i++) {%>
                                                    <option value="<%= loaiNvs[i].maloainv %>">
                                                        <%= loaiNvs[i].tenloainv %>
                                                    </option>
                                                    <% } %>
                                            </select><br>
                                            
                                            <input type="submit" name="themnhanvien" value="Thêm nhân viên"
                                                class="btn btn-primary"><br/>
                                            <br/>
                                            <a class="btn btn-info" href="admin/nhanvien">Quay lại?</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <%- include('../partials/adminfooter'); -%>
                    </section>
                    <!--main content end-->
        </section>
        <%- include('../partials/adminscript_bottom'); -%>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script>
            $("#formAddProduct").validate({
                rules: {
                    tennv: {
                        required: true,                    
                    },
                    email: {
                        required: true,                    
                    },
                    matkhau:{
                        required: true
                    },
                    sodienthoai:{
                        required: true
                    },
                    id_maloainv:{
                        required: true
                    }
                },
                messages:{
                    tennv: {
                        required: 'Tên sản phẩm không được để trống'
                    },
                    email: {
                        required: 'Giá sản phẩm không được để trống'
                    },
                    matkhau:{
                        required: 'Thương hiệu không được để trống'
                    },
                    sodienthoai:{
                        required: 'Hình ảnh không được để trống'
                    },
                    id_maloainv:{
                        required: 'Chọn loại không được để trống'
                    }
                }
            });
      

    </script>
</html>