<!DOCTYPE html>
<html lang="en">
    <style>
        .error{
            color: #f20;
            font-style: italic;
        }
    </style>
<%- include('../partials/adminhead'); -%>
    <body>
        <section id="container">
            <%- include('../partials/adminheader'); -%>
                <%- include('../partials/adminleft'); -%>
                    <!--main content start-->
                    <section id="main-content">
                        <section class="wrapper">
                            <div class="clearfix">
                                <div class="table-agile-info">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            CẬP NHẬT NHÂN VIÊN
                                        </div>
                                        <form method="POST" action="/admin/nhanvien/updatenhanvien" id="formAddProduct">
                                            <label>Mã nhân viên</label>
                                            <input type="text" class="form-control" name="manv"
                                                placeholder="Tên nhân viên" value="<%= nhanvien.manv%>" readonly><br>
                                            <label>Trạng thái</label> <br />
                                            <% if(nhanvien.trangthai){ %>
                                            <input name="trangthai" type="radio" value="1" checked="checked">
                                              Hoạt động
                                            <input name="trangthai" type="radio" value="0"> Không hoạt động <br />
                                            <br/>
                                            <% } else { %>
                                            <input name="trangthai" type="radio" value="1">
                                              Hoạt động
                                            <input name="trangthai" type="radio" value="0" checked="checked"> Không hoạt động <br />
                                            <br />
                                            <% } %>
                                            <input type="submit" name="capnhatnhanvien" value="Cập nhật nhân viên"
                                                class="btn btn-primary"><br/>
                                            <br/>
                                            <a class="btn btn-info" href="admin/nhanvien">Quay lại?</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <%- include('../partials/adminfooter'); -%>
                    </section>
                    <!--main content end-->
        </section>
        <%- include('../partials/adminscript_bottom'); -%>
    </body>
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script>
            $("#formAddProduct").validate({
                rules: {
                    tennv: {
                        required: true,                    
                    },
                    email: {
                        required: true,                    
                    },
                    matkhau:{
                        required: true
                    },
                    sodienthoai:{
                        required: true
                    },
                    id_maloainv:{
                        required: true
                    }
                },
                messages:{
                    tennv: {
                        required: 'Tên sản phẩm không được để trống'
                    },
                    email: {
                        required: 'Giá sản phẩm không được để trống'
                    },
                    matkhau:{
                        required: 'Thương hiệu không được để trống'
                    },
                    sodienthoai:{
                        required: 'Hình ảnh không được để trống'
                    },
                    id_maloainv:{
                        required: 'Chọn loại không được để trống'
                    }
                }
            });
      

    </script> -->
</html>