<!DOCTYPE html>
<html lang="en">
    <style>
        .error{
            color: #f20;
            font-style: italic;
        }
    </style>
<%- include('../partials/adminhead'); -%>
    <body>
        <section id="container">
            <%- include('../partials/adminheader'); -%>
                <%- include('../partials/adminleft'); -%>
                    <!--main content start-->
                    <section id="main-content">
                        <section class="wrapper">
                            <div class="clearfix">
                                <div class="table-agile-info">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            THÊM TIN TỨC
                                        </div>
                                        <form method="POST" action="/admin/tintuc/createtintuc" enctype="multipart/form-data" id="formAddProduct">
                                            <label>Tên tiêu đề</label>
                                            <input type="text" class="form-control" name="tieude" placeholder="Tên tiêu đề"><br>
                                            
                                            <label>Nội dung</label><br />
                                            <textarea id="mota" name="noidung" rows="4" cols="140"></textarea><br />

                                            <label>Hình ảnh</label>
                                            <input id="imgtintuc" type="file" class="form-control" name="hinhanh" placeholder="Hình ảnh"><br>
                                            <img id="blah" src="#" alt="your image" width="100" height="100" /><br/>
                                            <label>Trạng thái</label> <br />
                                            <input name="trangthai" type="radio" value="1" checked="checked"> Bật
                                            <input name="trangthai" type="radio" value="0"> Tắt <br />

                                            <br />
                                            <input type="submit" name="themtintuc" value="Thêm tin tức"
                                                class="btn btn-primary"><br/>
                                            <br/>
                                            <a href="admin/tintuc">Quay lại?</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <%- include('../partials/adminfooter'); -%>
                    </section>
                    <!--main content end-->
        </section>
        <%- include('../partials/adminscript_bottom'); -%>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script>
        imgtintuc.onchange = evt => {
            const [file] = imgtintuc.files
            if (file) {
                blah.src = URL.createObjectURL(file)
            }
        }

        $("#formAddProduct").validate({
                rules: {
                    tieude: {
                        required: true,                    
                    },
                    noidung: {
                        required: true,                    
                    },
                    hinhanh: {
                        required: true,                    
                    }
                },
                messages:{
                    tieude: {
                        required: 'Tên tiêu đề không được để trống'
                    },
                    noidung: {
                        required: 'Nội dung tiêu đề không được để trống'
                    },
                    hinhanh: {
                        required: 'Hình ảnh không được để trống'
                    },
                }
            });
    </script>

</html>