<!DOCTYPE html>
<html lang="en">
<%- include('../partials/adminhead'); -%>
<body>
<section id="container">
<%- include('../partials/adminheader'); -%>
<%- include('../partials/adminleft'); -%>
<!--main content start-->
      <section id="main-content">
	      <section class="wrapper">
		        <div class="clearfix">
                    <div class="table-agile-info">
                        <div class="panel panel-default">
                           <div class="panel-heading">
                            TIN TỨC
                           </div>
                           <div>
                             <table class="table" ui-jq="footable" >
                               <thead>
                                 <tr>
                                   <th data-breakpoints="xs">Mã tiêu đề</th>
                                   <th>Tên tiêu đề</th>
                                   <th>Nội dung</th>
                                   <th>Hình ảnh</th>
                                   <th>Trạng thái</th>
                                   <th>Thời gian tạo</th>
                                   <td><a href="admin/tintuc/createblog" class="btn btn-success <%= role && role != 1 ? '' : 'hidden'%>">Thêm tin tức</a></td>
                                 </tr>
                               </thead>
                               <tbody>
                                <% tintuc.forEach(function(tt){ %>
                                   <td><%= tt.matt %></td>
                                   <td><%= tt.tieude %></td>
                                   <td><textarea id="tintuc" name="tintuc" rows="6" cols="60"><%= tt.noidung %></textarea></td>
                                   <td><img src="client/img/tintuc/<%= tt.hinhanh %>"></td>
                                   <td><%= tt.trangthai ==1 ? 'Bật' : 'Tắt' %></td>
                                   <td><%= tt.tgtao %></td>
                                   <td><a href="admin/tintuc/updateblog?id=<%= tt.matt %>" class="btn btn-primary <%= role && role != 1 ? '' : 'hidden'%>">Cập nhật</a>
                                        <a href="admin/tintuc/deleteblog?id=<%= tt.matt %>" class="btn btn-danger <%= role && role != 1 ? '' : 'hidden'%>">Xóa</a></td>
                                 </tr>
                                 <% }); %>
                               </tbody>
                             </table>  
                           </div>
                         </div>
                    </div>    
                </div>
            </section>
<%- include('../partials/adminfooter'); -%>
      </section>
<!--main content end-->
</section>
<%- include('../partials/adminscript_bottom'); -%>
</body>
</html>
