<!DOCTYPE html>
<html lang="en">
    <style>
        .error{
            color: #f20;
            font-style: italic;
        }
    </style>
<%- include('../partials/adminhead'); -%>
    <body>
        <section id="container">
            <%- include('../partials/adminheader'); -%>
                <%- include('../partials/adminleft'); -%>
                    <!--main content start-->
                    <section id="main-content">
                        <section class="wrapper">
                            <div class="clearfix">
                                <div class="table-agile-info">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            CẬP NHẬT TIN TỨC
                                        </div>
                                        <form method="POST" action="/admin/tintuc/updatetintuc" 
                                                            enctype="multipart/form-data" id="formUpdateProduct">
                                            <label>Mã tin tức</label>
                                            <input type="text" class="form-control" name="matt" value="<%= blog.matt %>" readonly /><br>

                                            <label>Tên tiêu đề</label>
                                            <input type="text" class="form-control" name="tieude" value="<%= blog.tieude %>"
                                            placeholder="Tên tiêu đề"><br>
                                            
                                            <label>Nội dung</label><br />
                                            <textarea id="mota" name="noidung" rows="4" cols="140"> <%= blog.noidung %> </textarea><br />

                                            <label><img src="">Hình ảnh</label>
                                            <input accept="image/*" value= "client/img/tintuc/<%= blog.hinhanh%>" type="file" class="form-control" 
                                            name="hinhanh" onchange="readFileImage(this)">
                                            <br>
                                            <img src="client/img/tintuc/<%= blog.hinhanh%>" width="100" height="100" id="imgTinTuc"/>

                                            <br/>
                                            <label>Trạng thái</label> <br />
                                            <% if(blog.trangthai){ %>
                                            <input name="trangthai" type="radio" value="1" checked="checked"> Bật
                                            <input name="trangthai" type="radio" value="0"> Tắt <br />
                                            <% } else { %>
                                                <input name="trangthai" type="radio" value="1"/> Bật
                                                <input name="trangthai" type="radio" value="0" checked="checked" /> Tắt <br/>
                                            <% } %>
                                            <br />
                                            
                                            <input type="submit" name="capnhattintuc" value="Cập nhật tin tức"
                                                class="btn btn-primary"><br/>
                                            <br/>
                                            <a href="admin/tintuc">Quay lại?</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <%- include('../partials/adminfooter'); -%>
                    </section>
                    <!--main content end-->
        </section>
        <%- include('../partials/adminscript_bottom'); -%>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script>
        let files = [];
        let isImag = '<%= blog.hinhanh%>'; 

        if(!isImag){
            $('#imgTinTuc').hide();
        }

        function readFileImage(input){
            files = input.files;
            // Neu co upload file va co file dau tien 
            if(input.files && input.files[0]){
                var reader = new FileReader();

                reader.onload = function(e){
                    $('#imgTinTuc').show().attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0])
            }
        }

        $("#formUpdateProduct").validate({
                rules: {
                    tieude: {
                        required: true,                    
                    },
                    noidung: {
                        required: true,                    
                    }
                },
                messages:{
                    tieude: {
                        required: 'Tên tiêu đề không được để trống'
                    },
                    noidung: {
                        required: 'Nội dung tiêu đề không được để trống'
                    }
                }
            });
            const count = files.length;
        $('input[name=capnhattintuc]').click(function () {
            let count = files.length;
            for (let i = 0; i < count; i++) {
                if (!files[i].type.includes('image')) {
                    alert('Hình ảnh không hợp lệ');
                    return false;
                }
            }
            return true;
        })
    </script>
</html>