<!DOCTYPE html>
<html lang="en">
<style>
    .error {
        color: #f20;
        font-style: italic;
    }
</style>
<%- include('../partials/adminhead'); -%>

    <body>
        <section id="container">
            <%- include('../partials/adminheader'); -%>
                <%- include('../partials/adminleft'); -%>
                    <!--main content start-->
                    <section id="main-content">
                        <section class="wrapper">
                            <div class="clearfix">
                                <div class="table-agile-info">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            CẬP NHẬT TIN TỨC
                                        </div>
                                        <form method="POST" action="/admin/tintuc/updatetintuc"
                                            enctype="multipart/form-data" id="formUpdateProduct">
                                            <label>Mã tin tức</label>
                                            <input type="text" class="form-control" name="matt" value="<%= blog.matt %>"
                                                readonly /><br>

                                            <label>Tên tiêu đề</label>
                                            <input type="text" class="form-control" name="tieude"
                                                value="<%= blog.tieude %>" placeholder="Tên tiêu đề"><br>

                                            <label>Nội dung</label><br />
                                            <textarea id="mota" name="noidung" rows="4"
                                                cols="140"> <%= blog.noidung %> </textarea><br />

                                            <label><img src="">Hình ảnh</label>
                                            <input accept="image/*" value="client/img/tintuc/<%= blog.hinhanh%>"
                                                type="file" class="form-control" name="hinhanh"
                                                onchange="readFileImage(this)">
                                            <br>
                                            <img src="client/img/tintuc/<%= blog.hinhanh%>" width="100" height="100"
                                                id="imgTinTuc" />

                                            <br />
                                            <label>Trạng thái</label> <br />
                                            <% if(blog.trangthai){ %>
                                                <input name="trangthai" type="radio" value="1" checked="checked"> Bật
                                                <input name="trangthai" type="radio" value="0"> Tắt <br />
                                                <% } else { %>
                                                    <input name="trangthai" type="radio" value="1" /> Bật
                                                    <input name="trangthai" type="radio" value="0" checked="checked" />
                                                    Tắt <br />
                                                    <% } %>
                                                        <br />

                                                        <input type="submit" name="capnhattintuc"
                                                            value="Cập nhật tin tức" class="btn btn-primary"><br />
                                                        <br />
                                                        <a class="btn btn-info" href="admin/tintuc">Quay lại?</a>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal fade" tabindex="-1" role="dialog" id="modalNotify">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Thông báo</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p id="mess"></p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" id="btnOk" class="btn btn-primary">Ok</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <%- include('../partials/adminfooter'); -%>
                    </section>
                    <!--main content end-->
        </section>
        <%- include('../partials/adminscript_bottom'); -%>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script>
        let files = [];
        let isImag = '<%= blog.hinhanh%>';

        if (!isImag) {
            $('#imgTinTuc').hide();
        }

        function readFileImage(input) {
            files = input.files;
            // Neu co upload file va co file dau tien 
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgTinTuc').show().attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0])
            }
        }

        $("#formUpdateProduct").validate({
            rules: {
                tieude: {
                    required: true,
                },
                noidung: {
                    required: true,
                }
            },
            messages: {
                tieude: {
                    required: 'Tên tiêu đề không được để trống'
                },
                noidung: {
                    required: 'Nội dung tiêu đề không được để trống'
                }
            }
        });
        $('#btnOk').click(function () {
            $('#modalNotify').modal('hide');
        })
        const count = files.length;
        $('input[name=capnhattintuc]').click(function () {
            let count = files.length;
            for (let i = 0; i < count; i++) {
                if (!files[i].type.includes('image')) {
                    $('#mess').text('Hình ảnh không hợp lệ');

                    $('#modalNotify').modal('show');
                    return false;
                }
            }
            return true;
        })
    </script>

</html>