<!-- header-area-start -->
<header>
    <!-- header-top-area-start -->
    <div class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="language-area">
                        <ul>
                            <% if(tenkh && tenkh != ''){%>
                                <li><a href="/lichsumuahang">Lịch sử mua hàng</a></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="account-area text-right">
                        <ul>
                            <% if(tenkh && tenkh != ''){%>
                                <li><a href="/canhan?idkh=<%= idkh ? idkh : 0 %>"><%= tenkh %></a></li>
                                <li><a href="/dangnhap/logout">Đăng xuất</a></li>
                            <%} else{ %>
                                <li><a href="/dangnhap">Đăng nhập</a></li>
                                <li><a href="/dangky">Đăng ký</a></li>
                           <% } %>
                            
                           
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header-top-area-end -->
    <!-- header-mid-area-start -->
    <div class="header-mid-area ptb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
                    <div class="header-search">
                        <form action="/timkiem" method="get" id="formsearch">

                            <input type="text" name="search" placeholder="Nhập từ khóa cần tìm ..."/>
                            <a onclick="onSubmitSearch()"><i class="fa fa-search"></i></a>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
                    <div class="logo-area text-center logo-xs-mrg">
                        <a href="/"><img src="client/img/logo/logo1.png" alt="logo" /></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="my-cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i>Giỏ hàng</a>
                                <% if(giohangs.length != 0) { %>
                                    <span><%= giohangs.length %></span>
                                <% }%>
                                <div class="mini-cart-sub">
                                    <div class="cart-product">
                                        <% giohangs.forEach(function(sp){ %>
                                            <div class="single-cart">
                                                <div class="cart-img">
                                                    <a href="#"><img src="client/img/product/<%= sp.hinhanh %>" alt="book" /></a>
                                                </div>
                                                <div class="cart-info">
                                                    <h5><a href="#"><%= sp.tensp%></a></h5>
                                                    <p><%= sp.soluong %> x <%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(sp.giatien)%></p>
                                                </div>
                                                <div class="cart-icon">
                                                    <a href="#"><i class="fa fa-remove"></i></a>
                                                </div>
                                            </div>
                                       <% })%>
                                        
                                    </div>
                                    <div class="cart-totals">
                                        <h5>Tổng tiền: <span><% let totoal = 0; for(let i = 0; i < giohangs.length; i++){totoal += giohangs[i].tongtien;} %> <%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(totoal)%></span></h5>
                                    </div>
                                    <div class="cart-bottom">
                                        <a class="view-cart" href="/giohang">Giỏ hàng</a>
                                        <a href="/donhang">Thanh toán</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header-mid-area-end -->
    <!-- main-menu-area-start -->
    <div class="main-menu-area hidden-sm hidden-xs sticky-header-1" id="header-sticky">
        <div class="container" style="display: flex; justify-content: center;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="menu-area">
                        <nav>
                            <ul>
                                <li class="active"><a href="/">HOME</a></li>
                                <li><a href="/thuonghieu">THƯƠNG HIỆU</a></li>
                                <li><a href="/donghonam?page=1">ĐỒNG HỒ NAM</a></li>
                                <li><a href="/donghonu?page=1">ĐỒNG HỒ NỮ</a></li>
                                <li><a href="/tintuc">TIN TỨC</a></li>
                                <li><a href="/lienhe">LIÊN HỆ</a></li>
                                <li><a href="/khuyenmai">KHUYẾN MÃI</a></li>
                            </ul>
                        </nav>
                </div>
            </div>
        </div>
    </div>
    <script>
        function onSubmitSearch(){
            $('#formsearch').submit();
        }
    </script>
    <!-- main-menu-area-end -->
</header>
<!-- header-area-end -->