<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12" style="padding-left: 0px;">
    <div class="single-blog mb-50">
        <div class="blog-left-title">
            <h2>Thương hiệu</h2>
        </div>
        <div class="blog-side-menu">
            <ul>
                <% indexTH.forEach(function(sp){ %>
                <li><a href="/thuonghieu/getproductbytranmarkid?id=<%= sp.math %>"><%= sp.tenth %></a></li>
                <% }) %>
            </ul>
        </div>
    </div>
    <div class="blog-main-area mb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12" style="padding-left: 0px;">
                    <div class="left-title mb-20">
                        <h4>Random</h4>
                    </div>
                    <% indexRD.forEach(function(sp){ %>
                        <div class="single-most-product bd mb-18">
                            <div class="most-product-img">
                                <a href="/chitietsp?id=<%= sp.masp %>"><img src="client/img/product/<%= sp.hinhanh %>" /></a>
                            </div>
                            <div class="most-product-content">
                                <div class="product-rating">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    </ul>
                                </div>
                                <h4><a href="/chitietsp?id=<%= sp.masp %>"><%= sp.tensp %></a></h4>
                                <div class="product-price">
                                    <ul>
                                        <li><%= sp.giatien %></li>
                                        <li class="old-price">70000</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-md-12">
            <h3 class="text-center">MÔ TẢ THƯƠNG HIỆU</h3>
            <p class="text-centerthuonghieu" style="text-align: justify;">
                <p style="   width: 100%; 
                                    text-align: justify;
                                    background-color: transparent;
                                    border: none; overflow: hidden; 
                                    word-wrap: break-word;
                                    white-space: pre-wrap;
                                    white-space: -moz-pre-wrap !important;
                                    white-space: -pre-wrap;
                                    white-space: -o-pre-wrap;
                                    font-family: 'times new roman', times, serif;
                                    font-size: 17px;
                                    color: #000;
                                    line-height: 25px;"><%= motatt %>
                </p>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img src="client/img/thuonghieu/<%= hinhanh %>" width="300" height="500" />
        </div>
    </div>
</div>