<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head'); -%>

    <body>
        <div class="app">
            <%- include ('../partials/header'); -%>
            <form action="/" method="post">
                <div class="row" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt-40">
                    <div class="col-lg-12">
                        <div class="login-title text-center mb-30 mt-40">
                            <h3>Chi tiết đơn hàng - Mã đơn hàng: <%= chitiet[0].id_ghtk %> 
                                <%
                                    if(statusOrder.order && statusOrder.order.status_text) {
                                        if(chitiet[0].trangthai == 2) { %>
                                            <%= '- Đã hủy đơn' %>
                                        <% } else if(chitiet[0].trangthai == 1) { %>
                                            <%= '- Chờ lấy hàng' %>
                                        <% } else if(chitiet[0].trangthai == 3) { %>
                                            <%= '- Đang giao' %>
                                        <% } else if(chitiet[0].trangthai == 4) { %>
                                            <%= '- Đã giao' %>
                                      <% } else {%>   
                                            <%= '-' + statusOrder.order.status_text %>
                                    <% } %>
                               <%  } %>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="cart-main-area mb-70">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Địa chỉ người nhận</h4>
                                <div class="card card-infor">
                                    <div class="card-body">
                                        <h5 class="card-title tilte-receiver"><%= chitiet[0].tennguoinhan%></h5>
                                        <p class="card-text">Địa chỉ: <%= chitiet[0].diachinguoinhan%></p>
                                        <p>Điện thoại: <%= chitiet[0].sdtnguoinhan %></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <h4>Hình thức giao hàng</h4>
                                <div class="card card-infor">
                                    <div class="card-body">
                                        <img src="https://s.giaohangtietkiem.vn/customer/img/logo-slogan.png" />
                                        <p class="card-text">Giao hàng vào: <%= statusOrder.order && statusOrder.order.deliver_date  ? statusOrder.order.deliver_date : 'Chưa có ngày giao hàng'%></p>
                                        <p class="card-text">Phí vận chuyển: <%= chitiet[0].phivanchuyen %>đ</p>
                                    </div>
                                </div>
                    
                            </div>
                            <div class="col-md-4">
                                <h4>Hình thức thanh toán</h4>
                                <div class="card card-infor">
                                    <div class="card-body">
                                        <p class="card-text"><%= (chitiet[0].phuongthucthanhtoan == 1 || chitiet[0].phuongthucthanhtoan == 2) ? 'Thanh toán online - Đã thanh toán': 'Thanh toán tiền mặt khi nhận hàng - Chưa thanh toán' %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="row" >
                            <div class="col-md-12" >      
                                <div class="card" >
                                    <div class="card-body card-info-product">
                                        <table class="table">
                                            <thead>
                                              <tr>
                                                <th scope="col">Sản phẩm</th>
                                                <th scope="col">Giá tiền</th>
                                                <th scope="col">Số lượng</th>
                                                <th scope="col">Tạm tính</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <% chitiet.forEach(function(sp){ %> 
                                                    <tr>
                                                        <td style="width: 45%;">
                                                            <div style="width: 100%; display: flex;">
                                                                <div>
                                                                    <img src="client/img/product/<%= sp.hinhanh%>"
                                                                        width="70" height="70" />
                                                                </div>
                                                                <div style="width: 100%; margin-left: 10px;">
                                                                    <p>
                                                                        <%= sp.mota %>
                                                                    <p>
                                                                   <a class="btn btn-outline-primary" href="/chitietsp?id=<%= sp.masp %>">Mua lại</a>
                                                                </div>
                                                            </div>
                                                            
                                                        </td>
                                                        <td><%= sp.giatien %></td>
                                                        <td><%= sp.soluong %></td>
                                                        <td><%= sp.giatien *  sp.soluong %></td>
                                                    </tr>
                                             <% }) %>
                                                                                         
                                            </tbody>
                                        </table>
                                        <div style="width: 100%; height: 20%;">
                                            <div style="display: flex; justify-content: flex-end; margin-top: 10px;">
                                                <span style="margin-right: 70px;">Tạm tính</span>
                                                <span><%= chitiet[0].tonghoadon %>đ</span>
                                            </div>
                                            <div style="display: flex; justify-content: flex-end; margin-top: 10px;">
                                                <span style="margin-right: 70px;">Phí vận chuyển</span>
                                                <span><%= chitiet[0].phivanchuyen %>đ</span>
                                            </div>
                                            <div style="display: flex; justify-content: flex-end; margin-top: 10px;">
                                                <span style="margin-right: 50px;">Tổng cộng</span>
                                                <span style="font-size: 20px; color: red;"><%= chitiet[0].tonghoadon + chitiet[0].phivanchuyen %>đ</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>                            
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <%- include ('../partials/footer'); -%>
        </div>
    </body>

</html>