<!DOCTYPE html>
<html lang="en">
<%- include('../partials/adminhead'); -%>

    <body>
        <section id="container">
            <%- include('../partials/adminheader'); -%>
                <%- include('../partials/adminleft'); -%>
                    <!--main content start-->
                    <section id="main-content">
                        <section class="wrapper">
                            <div class="clearfix">
                                <div class="table-agile-info">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            THÊM SẢN PHẨM
                                        </div>
                                        <form method="POST" action="admin/sanpham/store">

                                            <label>Tên sản phẩm</label>
                                            <input type="text" class="form-control" name="tensp"
                                                placeholder="Tên sản phẩm"><br>
                                            <label>Giá tiền</label>
                                            <input type="text" class="form-control" name="giatien"
                                                placeholder="Giá sản phẩm"><br>
                                            <form>
                                                <label>Trạng thái</label> <br />
                                                <input name="trangthai" type="radio" value="Còn Hàng" checked="checked">
                                                Còn Hàng
                                                <input name="trangthai" type="radio" value="Hết Hàng"> Hết Hàng <br />
                                                <br />
                                            </form>
                                            <label><img src="">Hình ảnh</label>
                                            <input type="file" class="form-control" name="hinhanh"
                                                placeholder="Hình ảnh"><br>
                                            <label>Thương hiệu</label>
                                            <div class="dropdown">
                                               
                                                    <button name="id_math" class="btn btn-primary dropdown-toggle"
                                                        type="button" data-toggle="dropdown">
                                                        --Chọn Thương hiệu --
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <% for(let i=0; i < thuonghieus.length; i++) {%>
                                                            <a href="#" value="<%= thuonghieus[i].math %>">
                                                                <%= thuonghieus[i].tenth %>
                                                            </a>
                                                            <% } %>
                                                        </li>
                                                        
                                                    </ul>
                                            </div><br />
                                            <label>Mô tả</label><br />
                                            <textarea id="mota" name="mota" rows="4" cols="140"></textarea><br /><br />
                                            <label>Loại sản phẩm</label>
                                            <select name="id_maloai" class="form-control">
                                                <option value="0">------Chọn danh mục-------</option>
                                                <% for(let i=0; i < danhmucs.length; i++) {%>
                                                    <option value="<%= danhmucs[i].maloai %>">
                                                        <%= danhmucs[i].tenloai %>
                                                    </option>
                                                    <% } %>
                                            </select><br>
                                            <input type="submit" name="themsanpham" value="Thêm sản phẩm"
                                                class="btn btn-primary">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <%- include('../partials/adminfooter'); -%>
                    </section>
                    <!--main content end-->
        </section>
        <%- include('../partials/adminscript_bottom'); -%>
    </body>

</html>