<!DOCTYPE html>
<html lang="en">
<%- include('../partials/adminhead'); -%>

    <body>
        <section id="container">
            <%- include('../partials/adminheader'); -%>
                <%- include('../partials/adminleft'); -%>
                    <!--main content start-->
                    <section id="main-content">
                        <section class="wrapper">
                            <div class="clearfix">
                                <div class="table-agile-info">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            DANH SÁCH ĐƠN HÀNG
                                        </div>
                                        <div>
                                            <table class="table" ui-jq="footable">
                                                <tr>
                                                    <th>Mã đơn hàng</th>
                                                    <th>Tên người nhận</th>
                                                    <th>Phương thức thanh toán</th>
                                                    <th>Trạng thái</th>
                                                    <th>Quản lý</th>
                                                </tr>
                                                <% donhang.forEach(function(dh){ %>
                                                <tr>
                                                    <td id="customerId"><%= dh.mahd %></td>
                                                    <td><%= dh.tennguoinhan %></td>
                                                    <td><%= dh.phuongthucthanhtoan == 1 ? 'Đã thanh toán': 'Chưa thanh toán' %></td>
                                                    <td><% if(dh.trangthai == 1) {%>
                                                            <%= 'Đã xử lý' %>
                                                        <% }else if(dh.trangthai == 2) { %>
                                                            <%= 'Đơn hàng đã hủy' %>
                                                        <% }else if(dh.trangthai == 3) {%>
                                                            <%= 'Đang xử lý' %>
                                                        <%} else {%>
                                                            <%= 'Chưa xử lý'%>
                                                        <% } %>
                                                    </td>
                                                    <td>
                                                        <a href="/admin/donhang/detailOrder?id=<%= dh.mahd %>" class="btn btn-success ">Chi tiết đơn hàng</a>
                                                        <a href="/admin/donhang/updateOrder?id=<%= dh.mahd %>" class="btn btn-primary <%= (role && role != 1) ? '' : 'hidden'%>">Cập nhật</a>
                                                        <a href="/admin/donhang/deleteOrder?id=<%= dh.mahd %>&status=<%= dh.trangthai %>" class="btn btn-danger <%= role && role != 1 ? '' : 'hidden'%>">Xóa</a> 
                                                    </td>
                                                </tr>
                                                <% }); %>

                                            </table>
                                        </div>
                                    </div>
                                 </div>    
                            </div>
                        </section>

                        <%- include('../partials/adminfooter'); -%>
                            <!--main content end-->
                    </section>
        </section>
        <%- include('../partials/adminscript_bottom'); -%>
    </body>
    <script>
        let mess = '<%= mess %>'
        if(mess && mess == 1){
            alert('Đơn hàng đang trong trạng thái chưa xử lý');
        }
    </script>
</html>