<!DOCTYPE html>
<html lang="en">
<%- include('../partials/adminhead'); -%>

    <body>
        <section id="container">
            <%- include('../partials/adminheader'); -%>
                <%- include('../partials/adminleft'); -%>
                    <!--main content start-->
                    <section id="main-content">
                        <section class="wrapper">
                            <div class="col-md-12">
                                <h4>Danh sách đơn hàng</h4><br>
                                <table class="table table-bordered">
                                    <tr>
                                        <!-- <th>Thứ tự</th> -->
                                        <th>Mã đơn hàng</th>
                                        <th>Tên người nhận</th>
                                        <th>Số điện thoại</th>
                                        <th>Địa chỉ</th>
                                        <th>Tổng hóa đơn</th>
                                        <th>Ghi chú</th>
                                        <th>Phương thức thanh toán</th>
                                        <th>Trạng thái</th>
                                        <th>Ngày đặt</th>
                                    </tr>
                                    <tr>
                                        <td><%= donhang.mahd %></td>
                                        <td><%= donhang.tennguoinhan %></td>
                                        <td><%= donhang.sdtnguoinhan %></td>
                                        <td><%= donhang.diachinguoinhan %></td>
                                        <td><%= donhang.tonghoadon %></td>
                                        <td><%= donhang.ghichu %></td>
                                        <td><%= donhang.phuongthucthanhtoan == 1 ? 'Đã thanh toán': 'Chưa thanh toán' %></td>
                                        <td id="<%= donhang.mahd %>">
                                            <% if(donhang.trangthai == 1) {%>
                                                <%= 'Chờ lấy hàng' %>
                                            <% }else if(donhang.trangthai == 2) { %>
                                                <%= 'Đơn hàng đã hủy' %>
                                            <% }else if(donhang.trangthai == 3) {%>
                                                <%= 'Đang giao' %>
                                            <% }else if(donhang.trangthai == 4) {%>
                                                <%= 'Đã giao' %>
                                             <%} else {%>
                                                <%= 'Đã tiếp nhận'%>
                                            <% } %>      
                                        </td>
                                        <td><%= donhang.tgtao %></td>
                                    </tr>
                                </table>
                                <br/>
                                <h4 class="<%= donhang.trangthai == 2 ? 'hidden' : '' %>">Cập nhật tình trạng đơn hàng</h4><br>
                                <select id="<%= donhang.mahd %>" class="form-control <%= donhang.trangthai == 2 ? 'hidden' : '' %>" name="xuly" onchange="changeStatus(this) ">
                                    <option value="-1">--Chọn tình trạng--</option>
                                    <option value="0" <%= donhang.trangthai == 0 ? 'selected' : '' %> >Đã tiếp nhận</option>
                                    <option value="1" <%= donhang.trangthai == 1 ? 'selected' : '' %> >Chờ lấy hàng</option>
                                    <option value="3" <%= donhang.trangthai == 3 ? 'selected' : '' %> >Đang giao</option>
                                    <option value="4" <%= donhang.trangthai == 4 ? 'selected' : '' %> >Đã giao</option>
                                </select><br>
                                <input type="button" onclick="updateStatusBill()" value="Cập nhật đơn hàng" name="capnhatdonhang" class="btn btn-success <%= donhang.trangthai == 2 ? 'hidden' : '' %> %>"><br/>
                                <br/>
                                <a href="admin/donhang">Quay lại?</a>
                            </div>
                        </section>

                        <%- include('../partials/adminfooter'); -%>
                            <!--main content end-->
                    </section>
        </section>
        <%- include('../partials/adminscript_bottom'); -%>
    </body>
    <script>
            let status = 0;
            let idDH = 0;
        function changeStatus(elselect){
            status = elselect.value;
            idDH = elselect.id;
        }

        function updateStatusBill(){
            if(status != -1){
                $.ajax({
                    method: 'GET',
                    url:'/admin/donhang/updateStatus',
                    data: {
                        statusdh: status,
                        id: idDH
                    },
                    success: function(data){
                        if(data && data.statusCode == 1){
                            if(status == 0){
                                $(`#${idDH}`).html('Đã tiếp nhận');
                            }else if(status == 3){
                                $(`#${idDH}`).html('Đang giao');
                            }else if(status == 4){
                                $(`#${idDH}`).html('Đã giao');
                            }else{
                                $(`#${idDH}`).html('Chờ lấy hàng');
                            }
                        }
                    },
                    error: function(error){

                    }
                })
        
            }
           
        }
        
    </script>
</html>