<!DOCTYPE html>
<html lang="en">
<style>
    .error {
        color: #f20;
        font-style: italic;
    }
</style>
<%- include('../partials/adminhead'); -%>

    <body>
        <section id="container">
            <%- include('../partials/adminheader'); -%>
                <%- include('../partials/adminleft'); -%>
                    <!--main content start-->
                    <section id="main-content">
                        <section class="wrapper">
                            <div class="clearfix">
                                <div class="table-agile-info">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            CẬP NHẬT THƯƠNG HIỆU
                                        </div>
                                        <form method="POST" action="/admin/thuonghieu/updatetrademark"
                                            enctype="multipart/form-data" id="formUpdateProduct">
                                            <label>Mã thương hiệu</label>
                                            <input type="text" class="form-control" name="math"
                                                value="<%= trademark.math %>" readonly /><br>

                                            <label>Tên thương hiệu</label>
                                            <input type="text" class="form-control" name="tenth"
                                                value="<%= trademark.tenth %>" placeholder="Tên thương hiệu"><br>

                                            <label>Chi tiết</label><br />
                                            <textarea id="mota" name="chitiet" rows="4"
                                                cols="140"> <%= trademark.chitiet %> </textarea><br />

                                            <label><img src="">Hình ảnh</label>
                                            <input accept="image/*"
                                                value="client/img/thuonghieu/<%= trademark.hinhanh%>" type="file"
                                                class="form-control" name="hinhanh" onchange="readFileImage(this)">
                                            <br>
                                            <img src="client/img/thuonghieu/<%= trademark.hinhanh%>" width="100"
                                                height="100" id="imgthuonghieu" />

                                            <br />
                                            <input type="submit" name="capnhatthuonghieu" value="Cập nhật thương hiệu"
                                                class="btn btn-primary"><br />
                                            <br />
                                            <a class="btn btn-info" href="admin/thuonghieu">Quay lại?</a>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal fade" tabindex="-1" role="dialog" id="modalNotify">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Thông báo</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p id="mess"></p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" id="btnOk" class="btn btn-primary">Ok</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <%- include('../partials/adminfooter'); -%>
                    </section>
                    <!--main content end-->
        </section>
        <%- include('../partials/adminscript_bottom'); -%>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script>
        let files = [];
        let isImag = '<%= trademark.hinhanh%>';

        if (!isImag) {
            $('#imgthuonghieu').hide();
        }

        function readFileImage(input) {
            files = input.files;

            // Neu co upload file va co file dau tien 
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgthuonghieu').show().attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0])
            }
        }

        $("#formUpdateProduct").validate({
            rules: {
                tenth: {
                    required: true,
                },
                chitiet: {
                    required: true,
                }
            },
            messages: {
                tenth: {
                    required: 'Tên thương hiệu không được để trống'
                },
                chitiet: {
                    required: 'Chi tiết thương hiệu không được để trống'
                }
            }
        });

        $('#btnOk').click(function () {
            $('#modalNotify').modal('hide');
        })
        const count = files.length;
        $('input[name=capnhatthuonghieu]').click(function () {
            let count = files.length;
            for (let i = 0; i < count; i++) {
                if (!files[i].type.includes('image')) {
                    $('#mess').text('Hình ảnh không hợp lệ');

                    $('#modalNotify').modal('show');
                    return false;
                }
            }
            return true;
        })
    </script>

</html>