<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head'); -%>

    <body>
        <div class="app">
            <%- include ('../partials/header'); -%>
                <!-- blog-main-area-start -->
                <div class="blog-main-area">
                    <div class="container">
                        <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 0px;">
                                    <div class="container">
                                        <div class="row">
                                            <div style="padding-left: 0px; padding-right: 0px;"
                                                class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="blog-main-wrapper">
                                                    <div class="single-blog-post">
                                                        <div class="single-blog-content">
                                                            <div class="single-blog-title mt-20">
                                                                <h3>ĐỒNG HỒ NAM</h3>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="single-blog-post">
                                                        <div class="blog-img blog-slider-active owl-carousel mb-30">
                                                            <a href="#"><img src="client/img/banner/2.jpg" alt="blog" /></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-6 col-sm-8 col-xs-12">
                                                    <div class="toolbar mb-30">
                                                        <div class="shop-tab">
                                                            <div class="tab-3">
                                                                <ul>
                                                                    <li class="active"><a href="#th"
                                                                            data-toggle="tab"><i
                                                                                class="fa fa-th-large"></i>SẢN PHẨM</a></li>
                                                                    <li><a href="#list" data-toggle="tab"><i
                                                                                class="fa fa-bars"></i></a></li>
                                                                </ul>
                                                            </div>
                                                          
                                                        </div>
                                                        <div style="display: flex; justify-content: flex-end;">
                                                            <form action="/donghonam/locgia" style="display: flex; padding-left: 15px;" method="GET">
                                                                <span>Giá thấp nhất: </span> <input value="<%= min %>" type="number"  name="minPrice" min="0" class="form-control"
                                                                    style="width: 200px;" />
                                                                <span>Giá cao nhất: </span> <input value="<%= max %>" type="number" name="maxPrice" min="0" class="form-control"
                                                                    style="width: 200px;" />

                                                                <button class="btn btn-primary" type="submit">Lọc</button>
                                                            </form>
                                                        
                                                        </div>
                                                    </div>
                                                    <!-- tab-area-start -->
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="th">
                                                            <div class="row donghonam">
                                                                <% indexnam.forEach(function(sp){ %>
                                                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                                                        <!-- single-product-start -->
                                                                        <div class="product-wrapper mb-40">
                                                                            <div class="product-imgnamnu">
                                                                                <a href="/chitietsp?id=<%= sp.masp %>">
                                                                                    <img src="client/img/product/<%= sp.hinhanh %>" alt="book"
                                                                                        class="primary" style="width:140px; height:180px" />
                                                                                </a>
                                                                                <div class="quick-view">
                                                                                    <a class="action-view" href="#"
                                                                                        data-target="#productModal"
                                                                                        data-toggle="modal"
                                                                                        title="Quick View">
                                                                                        <i class="fa fa-search-plus"></i>
                                                                                    </a>
                                                                                </div>
                                                                                <div class="product-flag">
                                                                                    <ul>
                                                                                        <li><span class="sale">new</span>
                                                                                        </li>
                                                                                        <li><span
                                                                                                class="discount-percentage">-5%</span>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                            <div class="product-details text-center">
                                                                                <div class="product-rating">
                                                                                    <ul>
                                                                                        <li><a href="#"><i
                                                                                                    class="fa fa-star"></i></a>
                                                                                        </li>
                                                                                        <li><a href="#"><i
                                                                                                    class="fa fa-star"></i></a>
                                                                                        </li>
                                                                                        <li><a href="#"><i
                                                                                                    class="fa fa-star"></i></a>
                                                                                        </li>
                                                                                        <li><a href="#"><i
                                                                                                    class="fa fa-star"></i></a>
                                                                                        </li>
                                                                                        <li><a href="#"><i
                                                                                                    class="fa fa-star"></i></a>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                                <h4><a href="/chitietsp?id=<%= sp.masp %>"><%= sp.tensp %></a></h4>
                                                                                <div class="product-price">
                                                                                    <ul>
                                                                                        <li><%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(sp.giatien) %></li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                            <div class="product-link">
                                                                                <div class="product-button">
                                                                                    <a href="/giohang?id=<%= sp.masp %>" title="Add to cart"><i
                                                                                            class="fa fa-shopping-cart"></i>Thêm giỏ hàng</a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <!-- single-product-end -->
                                                                    </div>
                                                                <% }) %>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                  
                                                        <div style="display: flex; justify-content: center;">
                                                            <nav aria-label="Page navigation example">
                                                                <ul class="pagination">
                                                                  <% for(let i=1; i<= pageNumber; i++) {%>
                                                                        <% if (isSearch == true) {%>
                                                                            <li class="page-item">
                                                                                <a class="page-link" 
                                                                                   href="/donghonam/locgia?page=<%= i %>&minPrice=<%= min %>&maxPrice=<%= max %>"><%= i %></a>
                                                                            </li>
                                                                        <% } else {%>
                                                                            <li class="page-item">
                                                                                <a class="page-link" 
                                                                                   href="/donghonam?page=<%= i %>"><%= i %></a>
                                                                            </li>
                                                                        <% } %>
                                                                        
                                                                  <% } %>
                                                                </ul>
                                                              </nav>
                                                        </div>
                                                    
                                                    <!-- tab-area-end -->
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                        </div>
                    </div>
                </div>
                <!-- blog-main-area-end -->
                <%- include ('../partials/footer'); -%>
        </div>
    </body>

</html>