<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head'); -%>

    <body>
        <div class="app">
            <%- include ('../partials/header'); -%>

                <!-- slider-area-start -->
                <div class="slider-area">
                    <div class="slider-active owl-carousel">
                        <div class="single-slider pt-125 pb-130 bg-img"
                            style="background-image:url(client/img/banner/6.jpg);">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="slider-content slider-animated-1 text-center">
                                            <h1>Huge Sale</h1>
                                            <h2>Fulltime</h2>
                                            <h3>Now starting at £99.00</h3>
                                            <a href="#">Shop now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-slider slider-h1-2 pt-215 pb-140 bg-img"
                            style="background-image:url(client/img/banner/5.jpg);">
                            <div class="container">
                                <div class="slider-content slider-content-2 slider-animated-1">
                                    <h1>We can help get your</h1>
                                    <h2>Watches in Order</h2>
                                    <a href="#">Contact Us Today!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- slider-area-end -->
                <!-- product-area-start -->
                <div class="product-area pt-95 xs-mb">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-title text-center mb-50">
                                    <h2>Mẫu bán chạy nhất</h2>
                                    <p>Bộ sưu tập các sản phẩm bán chạy nhất và hàng đầu của chúng tôi.</p>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <!-- tab-menu-start -->
                                <div class="tab-menu mb-40 text-center">
                                    <ul>
                                        <li class="active"><a href="#newarrival" data-toggle="tab">Sản phẩm mới</a></li>
                                        <li><a href="#dealhot" data-toggle="tab">Sản phẩm bán chạy</a></li>
                                        <li><a href="#featured" data-toggle="tab">Sản phẩm hàng đầu</a></li>
                                    </ul>
                                </div>
                                <!-- tab-menu-end -->
                            </div>
                        </div>
                        <!-- tab-area-start -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="newarrival">
                                <div class="tab-active owl-carousel">
                                    <!-- single-product-start -->
                                    <% index.forEach(function(sp){ %>
                                        <div class="product-wrapper">
                                            <div class="product-img">
                                                <a href="/chitietsp?id=<%= sp.masp %>">
                                                    <img src="client/img/product/<%= sp.hinhanh %>" alt="book"
                                                        class="primary" />
                                                </a>
                                                <div class="quick-view">
                                                    <a class="action-view" href="#" data-target="#productModal"
                                                        data-toggle="modal" title="Quick View">
                                                        <i class="fa fa-search-plus"></i>
                                                    </a>
                                                </div>
                                                <div class="product-flag">
                                                    <ul>
                                                        <li><span class="sale">new</span> <br></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-details text-center">
                                                <div class="product-rating">
                                                    <ul>
                                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                    </ul>
                                                </div>
                                                <h4><a href="/chitietsp?id=<%= sp.masp %>">
                                                        <%= sp.tensp %>
                                                    </a></h4>
                                                <div class="product-price">
                                                    <ul>
                                                        <li>
                                                            <%= sp.giatien %>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-link">
                                                <div class="product-button">
                                                    <a href="/giohang?id=<%= sp.masp %>" title="Add to cart"><i
                                                            class="fa fa-shopping-cart"></i>Add to cart</a>
                                                </div>
                                                <div class="add-to-link">
                                                    <ul>
                                                        <li><a href="product-details.html" title="Details"><i
                                                                    class="fa fa-external-link"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <% }); %>
                                            <!-- single-product-end -->
                                </div>
                            </div>
                            <div class="tab-pane fade" id="dealhot">
                                <div class="tab-active owl-carousel">
                                    <!-- single-product-start -->
                                    <% indexdealhot.forEach(function(sp){ %>
                                        <div class="product-wrapper">
                                            <div class="product-img">
                                                <a href="/chitietsp?id=<%= sp.masp %>">
                                                    <img src="client/img/product/<%= sp.hinhanh %>" alt="book"
                                                        class="primary" />
                                                </a>
                                                <div class="quick-view">
                                                    <a class="action-view" href="#" data-target="#productModal"
                                                        data-toggle="modal" title="Quick View">
                                                        <i class="fa fa-search-plus"></i>
                                                    </a>
                                                </div>
                                                <div class="product-flag">
                                                    <ul>
                                                        <li><span class="sale">new</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-details text-center">
                                                <div class="product-rating">
                                                    <ul>
                                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                    </ul>
                                                </div>
                                                <h4><a href="/chitietsp?id=<%= sp.masp %>">
                                                        <%= sp.tensp %>
                                                    </a></h4>
                                                <div class="product-price">
                                                    <ul>
                                                        <li>
                                                            <%= sp.giatien %>
                                                        </li>
                                                        <li class="old-price">$32.00</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-link">
                                                <div class="product-button">
                                                    <a href="/giohang?id=<%= sp.masp %>" title="Add to cart"><i
                                                            class="fa fa-shopping-cart"></i>Add
                                                        to cart</a>
                                                </div>
                                                <div class="add-to-link">
                                                    <ul>
                                                        <li><a href="product-details.html" title="Details"><i
                                                                    class="fa fa-external-link"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <% }); %>
                                            <!-- single-product-end -->
                                </div>
                            </div>
                            <div class="tab-pane fade" id="featured">
                                <div class="tab-active owl-carousel">
                                    <% indexfeature.forEach(function(sp){ %>
                                        <!-- single-product-start -->
                                        <div class="product-wrapper">
                                            <div class="product-img">
                                                <a href="/chitietsp?id=<%= sp.masp %>">
                                                    <img src="client/img/product/<%= sp.hinhanh %>" alt="book"
                                                        class="primary" />
                                                </a>
                                                <div class="quick-view">
                                                    <a class="action-view" href="#" data-target="#productModal"
                                                        data-toggle="modal" title="Quick View">
                                                        <i class="fa fa-search-plus"></i>
                                                    </a>
                                                </div>
                                                <div class="product-flag">
                                                    <ul>
                                                        <li><span class="sale">new</span> <br></li>
                                                        <li><span class="discount-percentage">-5%</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-details text-center">
                                                <div class="product-rating">
                                                    <ul>
                                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                    </ul>
                                                </div>
                                                <h4><a href="/chitietsp?id=<%= sp.masp %>">
                                                        <%= sp.tensp%>
                                                    </a></h4>
                                                <div class="product-price">
                                                    <ul>
                                                        <li>
                                                            <%= sp.giatien %>
                                                        </li>
                                                        <li class="old-price">40.00</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-link">
                                                <div class="product-button">
                                                    <a href="/giohang?id=<%= sp.masp %>" title="Add to cart"><i
                                                            class="fa fa-shopping-cart"></i>Add
                                                        to cart</a>
                                                </div>
                                                <div class="add-to-link">
                                                    <ul>
                                                        <li><a href="product-details.html" title="Details"><i
                                                                    class="fa fa-external-link"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <% }); %>
                                            <!-- single-product-end -->
                                </div>
                            </div>
                        </div>
                        <!-- tab-area-end -->
                    </div>
                </div>
                <!-- product-area-end -->
                <!-- banner-area-start -->
                <div class="banner-area-5 mtb-95">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="banner-img-2">
                                    <a href="#"><img src="client/img/banner/4.jpg" alt="banner" /></a>
                                    <div class="banner-text">
                                        <h3>G. Meyer Books & Spiritual Traveler Press</h3>
                                        <h2>Sale up to 30% off</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- banner-area-end -->
                <!-- bestseller-area-start -->
                <div class="bestseller-area pb-100">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                <div class="bestseller-content">
                                    <h1>QUAN TÂM HÀNG ĐẦU</h1>
                                    <h2>Drew <br />Sirtors</h2>
                                    <p class="categories">DANH MỤC: <a href="/donghonam">ĐỒNG HỒ NAM</a><br><a
                                            href="/donghonu">ĐỒNG HỒ NỮ</a></p>
                                    <p>
                                        Đồng hồ được đặt tên như một lời nhắc nhở - nếu bạn không quan sát cẩn thận những gì bạn làm với thời gian của mình, nó sẽ trôi tuột khỏi bạn.</p>
                                    <div class="social-author">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="banner-img-2">
                                    <a href="#"><img src="client/img/banner/1.jpg" alt="banner" /></a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="bestseller-active owl-carousel">
                                    <% for(let i = 0; i < indexdrew.length; i+=2){ %>
                                        <div class="bestseller-total">
                                            <div class="single-bestseller mb-25">
                                                <div class="bestseller-img">
                                                    <a href="/chitietsp?id=<%= indexdrew[i].masp %>">
                                                        <img src="client/img/product/<%= indexdrew[i].hinhanh %>" alt="book" />
                                                    </a>
                                                    <div class="product-flag">
                                                        <ul>
                                                            <li><span class="sale">new</span></li>
                                                            <li><span class="discount-percentage">-5%</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="bestseller-text text-center">
                                                    <h3> <a href="/chitietsp?id=<%= indexdrew[i].masp %>"><%= indexdrew[i].tensp%></a></h3>
                                                    <div class="price">
                                                        <ul>
                                                            <li><span class="new-price"><%= indexdrew[i].giatien%></span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="single-bestseller">
                                                <div class="bestseller-img">
                                                    <a href="/chitietsp?id=<%= indexdrew[i+1].masp %>">
                                                        <img src="client/img/product/<%= indexdrew[i+1].hinhanh %>" alt="book" />
                                                    </a>
                                                    <div class="product-flag">
                                                        <ul>
                                                            <li><span class="sale">new</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="bestseller-text text-center">
                                                    <h3> <a href="/chitietsp?id=<%= indexdrew[i+1].masp %>"><%= indexdrew[i+1].tensp%></a></h3>
                                                    <div class="price">
                                                        <ul>
                                                            <li><span class="new-price"><%= indexdrew[i+1].giatien%></span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                 <% } %>    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- bestseller-area-end -->
                <!-- new-book-area-start -->
                <div class="new-book-area pb-100">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-title bt text-center pt-100 mb-30 section-title-res">
                                    <h2>ĐỒNG HỒ NỔI BẬT</h2>
                                </div>
                            </div>
                        </div>
                        <div class="tab-active owl-carousel"> 
                            <% for(let i = 0; i < indexwatch.length; i+=2){ %>
                                <% if (i + 1 < indexwatch.length ){ %>
                                    <div class="tab-total">
                                        <!-- single-product-start -->
                                        <div class="product-wrapper mb-40">
                                            <div class="product-img">
                                                <a href="/chitietsp?id=<%= indexwatch[i].masp %>">
                                                    <img src="client/img/product/<%= indexwatch[i].hinhanh %>" alt="book" class="primary" />
                                                </a>
                                                <div class="quick-view">
                                                    <a class="action-view" href="#" data-target="#productModal" data-toggle="modal" title="Quick View">
                                                        <i class="fa fa-search-plus"></i>
                                                    </a>
                                                </div>
                                                <div class="product-flag">
                                                    <ul>
                                                        <li><span class="sale">new</span> </li>
                                                        <li><span class="discount-percentage">-5%</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-details text-center">
                                                <div class="product-rating">
                                                    <ul>
                                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                    </ul>
                                                </div>
                                                <h4><a href="/chitietsp?id=<%= indexwatch[i].masp %>"><%= indexwatch[i].tensp%></a></h4>
                                                <div class="product-price">
                                                    <ul>
                                                        <li><%= indexwatch[i].giatien%></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-link">
                                                <div class="product-button">
                                                    <a href="/giohang?id=<%= indexwatch[i].masp %>" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                                </div>
                                                <div class="add-to-link">
                                                    <ul>
                                                        <li><a href="product-details.html" title="Details"><i class="fa fa-external-link"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single-product-end -->
                                        <!-- single-product-start -->
                                        <div class="product-wrapper">
                                            <div class="product-img">
                                                <a href="/chitietsp?id=<%= indexwatch[i+1].masp %>">
                                                    <img src="client/img/product/<%= indexwatch[i+1].hinhanh %>" alt="book" class="primary" />
                                                </a>
                                                <div class="quick-view">
                                                    <a class="action-view" href="#" data-target="#productModal" data-toggle="modal" title="Quick View">
                                                        <i class="fa fa-search-plus"></i>
                                                    </a>
                                                </div>
                                                <div class="product-flag">
                                                    <ul>
                                                        <li><span class="sale">new</span> <br></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-details text-center">
                                                <div class="product-rating">
                                                    <ul>
                                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                    </ul>
                                                </div>
                                                <h4><a href="/chitietsp?id=<%= indexwatch[i+1].masp %>"><%= indexwatch[i+1].tensp%></a></h4>
                                                <div class="product-price">
                                                    <ul>
                                                        <li><%= indexwatch[i+1].giatien%></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-link">
                                                <div class="product-button">
                                                    <a href="/giohang?id=<%= indexwatch[i+1].masp %>" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                                </div>
                                                <div class="add-to-link">
                                                    <ul>
                                                        <li><a href="product-details.html" title="Details"><i class="fa fa-external-link"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single-product-end -->
                                    </div>
                             <% } %>     
                         <% } %>
                        </div>
                    </div>
                </div>
                <!-- new-book-area-start -->
                <!-- recent-post-area-start -->
                <div class="recent-post-area pt-95 pb-100">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-title text-center mb-30 section-title-res">
                                    <h2>Mới nhất từ tin tức của chúng tôi</h2>
                                </div>
                            </div>
                            <div class="post-active owl-carousel text-center">
                                <% let i = 1 %>
                                <% indexlatest.forEach(function(sp) { %>
                                <div class="col-lg-12">
                                    <div class="single-post">
                                        <div class="post-img">
                                            <a href="/chitietsp?id=<%= sp.masp %>"><img src="client/img/product/<%= sp.hinhanh %>" alt="post"/></a>
                                            
                                            <div class="blog-date-time">
                                                <span class="day-time"><%= i++ %></span>
                                                <span class="moth-time">Dec</span>
                                            </div>
                                        </div>
                                        <div class="post-content">
                                            <h3><a href="/chitietsp?id=<%= sp.masp %>">ĐỒNG HỒ NAM TISSOT</a></h3>
                                            <p><%= sp.tensp %></p>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- recent-post-area-end -->
                <%- include ('../partials/footer'); -%>
        </div>
    </body>
<script>
    let mess = '<%= mess %>';
    
    if(mess && mess == 1){
        alert('Đăng ký thành công!');
    }

    if(mess && mess == 2){
        alert('Thanh toán thành công!');
    }

    if(mess && mess == 3){
        alert('Cập nhật thông tin thành công!');
    }
</script>
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v10.0'
    });
  };

  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your Chat Plugin code -->
<div class="fb-customerchat"
  attribution="setup_tool"
  page_id="101756555454202">
</div>
</html>