<!DOCTYPE html>
<html lang="en">
<%- include('../partials/adminhead'); -%>
<body>
    <%- include('../partials/adminheader'); -%>
  
    <div>
        <div class="user-login-area mb-70 mt-100" style=" height: 700px; display: flex; align-items: center;">
            <div class="container" style="display: flex; justify-content: center;">
                <div class="card"
                    style="width: 900px; height: fit-content; border: 2px solid red; border-radius: 20px; background-color: blanchedalmond;">
                    <div class="card-body">
                        <h3 class="text-center" style="margin-top: 15px; font-family: 'Times New Roman', Times, serif;"><%= message %></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('../partials/adminfooter'); -%>
<%- include('../partials/adminscript_bottom'); -%>
</body>
</html>
