<!DOCTYPE html>
<html lang="en">
<%- include('../partials/adminhead'); -%>
<body>
<section id="container">
<%- include('../partials/adminheader'); -%>
<%- include('../partials/adminleft'); -%>
<!--main content start-->
<section id="main-content">
	<section class="wrapper">
		   <div class="clearfix">
            <div class="table-agile-info">
                <!--search start-->
                <div class="header-search">
                    <form action="/admin/timkiem" method="get" id="formsearch">
                        <input type="text" name="searchkh" placeholder="Nhập từ khóa cần tìm ..."/>
                        <a onclick="onSubmitSearch()"><i class="fa fa-search"></i></a>
                    </form>
                    <p id="countSP"></p>
                </div>
                <!--search end-->
                <div class="panel panel-default">
                   <div class="panel-heading">
                    DANH SÁCH KHÁCH HÀNG
                   </div>
                   <div>
                     <table class="table" ui-jq="footable">
                       <thead>
                         <tr>
                            <th>Mã tài khoản</th>
                            <th>Tên tài khoản</th>
                            <th>Số điện thoại</th>
                            <th>Địa chỉ</th>
                            <th>Email</th>
                            <th>Tên đăng nhập</th>
                            <th>Phương thức đăng nhập</th>
                            <th>Ngày đăng ký</th>
                         </tr>
                       </thead>
                       <tbody id="tblbody">
                        <% khachhang.forEach(function(kh){ %>
                         <tr data-expanded="true">
                            <td id="customerId"><%= kh.makh %></td>
                            <td><%= kh.tenkh %></td>
                            <td><%= kh.sodienthoai %></td>
                            <td><%= kh.diachi %></td>
                            <td><%= kh.email %></td>
                            <td><%= kh.tendangnhap %></td>
                            <td><%= kh.ptdangnhap %></td>
                            <td><%= kh.tgtao %></td>
                            </tr>
                        <% }); %>
                       </tbody>
                     </table>
                   </div>
                 </div>
            </div>
        </div>
  </section>
<%- include('../partials/adminfooter'); -%>
</section>
<!--main content end-->
</section>
<%- include('../partials/adminscript_bottom'); -%>
</body>
<script>
    function onSubmitSearch(){
       $.ajax({
         method: 'GET',
         data: {
            search: $('input[name=searchkh]').val().trim()
         },
         url:'/admin/timkiem/searchCustomer',
         success: function(data){
            $('#tblbody').html('');
            if(data){
              let dataSearchkh = data.dataSearchkh;
              let countDataSearch = dataSearchkh.length;
              
              if(countDataSearch != 0){
                $('#countSP').html('Kết quả tìm kiếm: ' + countDataSearch + ' khách hàng');
              }else{
                $('#countSP').html('Không tìm thấy khách hàng')
              }
              
              for (let i = 0; i < countDataSearch; i++) {
                $('#tblbody').html(
                  $('#tblbody').html() + `<tr data-expanded="true">
                                              <td> ${dataSearchkh[i].makh}</td>
                                              <td> ${dataSearchkh[i].tenkh}</td>
                                              <td> ${dataSearchkh[i].sodienthoai}</td>
                                              <td> ${dataSearchkh[i].diachi}</td>
                                              <td> ${dataSearchkh[i].email}</td>
                                              <td> ${dataSearchkh[i].tendangnhap}</td>
                                              <td> ${dataSearchkh[i].ptdangnhap}</td>
                                              <td> ${dataSearchkh[i].tgtao}</td>                                           
                                          </tr>`
                )
              }
              
            }
         },
         error: function(error){
  
         }
       })
    }
  </script>
</html>

