<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head'); -%>
    <body>
        <div class="app">
            <%- include ('../partials/header'); -%>
                <!-- entry-header-area-start -->
                <div class="entry-header-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <br />
                                <div class="entry-header-title" align="center">
                                    <h2>Giỏ hàng</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- entry-header-area-end -->
                <!-- cart-main-area-start -->
                <div class="cart-main-area mb-70">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <form action="#" method="post">
                                    <div class="table-content table-responsive">
                                        <a href="/"><button name="button" type="button" >Tiếp tục mua hàng</button></a>
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th class="product-stt">STT</th>
                                                    <th class="product-thumbnail">Hình ảnh</th>
                                                    <th class="product-name">Thương hiệu</th>
                                                    <th class="product-name">Sản phẩm</th>
                                                    <th class="product-price">Giá tiền</th>
                                                    <th class="product-quantity">Số lượng</th>
                                                    <th class="product-subtotal">Tổng tiền</th>
                                                    <th class="product-remove">Quản lý</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                
                                                <% for (let i = 0; i < giohangs.length; i++) {%>
                                                    <tr>
                                                        <td></td>
                                                        <td class="product-thumbnail"><a href="#"><img src="client/img/product/<%= giohangs[i].hinhanh%>" alt=" " class="img-responsive"/></a></td>
                                                        <td class="product-name"><a href="#"><%= giohangs[i].tenthuonghieu %></a></td>
                                                        <td class="product-name"><a href="#"><%= giohangs[i].tensp%></a></td>
                                                        <td id="price" class="product-price">
                                                            <span id="price<%= giohangs[i].masp %>" class="amount">
                                                                <%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(giohangs[i].giatien)%>
                                                            </span>
                                                        </td>
                                                        <td class="product-quantity">
                                                            <input id="<%= giohangs[i].masp%>" min="1" max="5" type="number" onChange="changeCount(this)" value="<%= giohangs[i].soluong%>"/>
                                                        </td>
                                                        <td id="total<%= giohangs[i].masp %>" class="product-subtotal"><%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(giohangs[i].tongtien)%></td>
                                                        <td class="product-remove">
                                                            <a href="/giohang/xoagiohang?id=<%= giohangs[i].masp%>">Xóa</a>
                                                        </td>
                                                    </tr>
                                                <% }%>
                                             
                                            <tr>
                                                <td colspan="7" >Tổng tiền: <span id="totalAmout"><% let totoal = 0; for(let i = 0; i < giohangs.length; i++){totoal += giohangs[i].tongtien;} %> <%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(totoal)%></span></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <span class="hidden" id="totalTemp"><% let totoal2 = 0; for(let i = 0; i < giohangs.length; i++){totoal2 += giohangs[i].tongtien;} %> <%= totoal2 %></span></div>
                                </form>
                                
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="wc-proceed-to-checkout">
                                <a onclick="validateTotalAmout()">Thanh toán</a>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" tabindex="-1" role="dialog" id="modalNotify">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Thông báo</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Đơn hàng của bạn phải nhỏ hơn 20 triệu</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="btnOk" class="btn btn-primary">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- cart-main-area-end -->
            <%- include ('../partials/footer'); -%>
        </div>
    </body>
<script>
    function validateTotalAmout(){
        let totalAmount = parseInt($('#totalTemp').text());

        if(totalAmount < 20000000){
            window.location.replace('/donhang');
            return true;
        }

        $('#modalNotify').modal('show');

        $('#btnOk').click(function(){
            $('#modalNotify').modal('hide');
        })
        return false;
    }
    function changeCount(input){


        let soluong = input.value;

        if(soluong < 0){
            soluong = 1;
            input.value = 1;
        }else if(soluong > 5){
            soluong = 5;
            input.value = 5;
        }

        let currentPrice = parseInt($(`#price${input.id}`).html());
        

        $.ajax({
            method:'GET',
            url: '/giohang/tinhsoluongvatongtien',
            data:{
                idsp: input.id,
                sl: soluong,
            },
            success: function(data){
                
                // console.log(new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(data.total).split('₫'));
                $(`#total${input.id}`).html(new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(data.total));
                $(`#totalAmout`).html(new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(data.totalAmount))
                $('#totalTemp').text(data.totalAmount);
            }, 
            error: function(){

            }
        })
    }
</script>
</html>